<!doctype html>
<html>

<head>
   <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <style type="text/css">
      h1 {
      color: White;
      font-size: 45pt;
      font-family: times;
    }

    body {
      color: #FFFFFF;
      font-size: 30pt;
      font-family: times;
      background: #02075D;
      margin: 100px 50px;
    }
      p {
	margin: 40px 200px;
      }
   </style>
</head>

<body>
   <h1 class="strong mt-3 text-center">
      <center>Add Squirrel Information</center>
   </h1>
#forms.py可改
   <form action='.' method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add" />
   </form>
   <br>
	<a href="/sightings" class="btn btn-info" role="button" style="width:200px;height:30px" align="center">Back to Squirrel Sightings</a>
</body>

</html>