<!doctype html>
<html lang="en">

<head>
    <title>Homepage</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style>
    h1{
        color: #0c2461;
    }
    .panel-heading {
        color: #0c2461;
    }
    .panel-body{
        color: #353b48;
    }
    .hint_img{
        width: 100%;
        height: 145px;
    }
    </style>
</head>

<body>

{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top"
     style="background-color: #2980b9;">
    <a class="navbar-brand" href="#">Squirrel Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/stats">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/add">Add My Sighting</a>
            </li>
        </ul>
    </div>
</nav>

<div role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-bottom: 0;">
        <div class="container">
            <h1 style="margin-top: 40px;">Squirrel Tracker</h1>
            <p>Welcome to the Squirrel Tracker site! The site has information about the squirrels in the Central Park
                including location and statistics.
                Please help us to update the website by adding more squirrel sightings! Thank you for visiting our
                website and contributing to it!
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Map
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Discover the squirrel locations in the Central Park.</p>
                        <p><img class="hint_img" src="{% static 'map.jpg' %}" alt="Map"></p>
                        <p><a class="btn btn-outline-secondary btn-lg" href="/map/" role="button" >View details &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Sighting
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Discover the squirrel sightings in the Central Park.</p>
                        <p><img class="hint_img" src="{% static 'squirrel.jpg' %}" alt="Squirrel"></p>
                        <p><a class="btn btn-outline-secondary btn-lg" href="/sightings/" role="button" >View details &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Statistics
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Discover the statistics of squirrels in the Central Park.</p>
                        <p><img class="hint_img" src="{% static 'statistics.jpg' %}" alt="Statistics"></p>
                        <p><a class="btn btn-outline-secondary btn-lg" href="/sightings/stats" role="button" >View details &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</div>
<footer class="container">
    <p> Squirrel raw data comes from here: <a
            href="https://data.cityofnewyork.us/Environment/2018-Central-Park-Squirrel-Census-Squirrel-Data/vfnx-vebw"
            target="_blank">NYC Open Data</a>.</p>
    <p>
        Contributed by Katie and Wendy. Thank you for visiting this website.
    </p>
</footer>
</body>
</html>